<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinau Ebook VueJS | Manipulasi Input dari user</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <form>
            <input type="text" name="title" v-model="title" placeholder="Masukan Judul Buku"><br>
            {{title}}
            <br>
            <textarea name="desc" cols="30" rows="10" v-model="desc"
                placeholder="Masukan Deskripsi Buku"></textarea><br>
            {{desc}}
        </form>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title: '',
                desc: ''
            }
        })
    </script>
</body>

</html>